:root {
  --bgc: #fbf7ee
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: var(--bgc);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Start nav-bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
.toog {
  display: none;
}
.nav__bar {
  width: 35%;
}
.nav__bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav__bar ul li a {
  text-decoration: none;
  color: black;
}

.sign {
  display: flex;
  justify-content: space-between;
  gap: 7.5px;
  align-items: center;
}
.sign div a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 7.5px;
  font-size: 18px;
}
.sign div a:hover {
  background-color: #0b48a8;
  color: #fff;
  font-size: 18px;
  padding: 7.5px;
  border-radius: 7.5px;
  border: none;
  box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.7);
}
.sign button {
  background-color: #0b48a8;
  color: #fff;
  font-size: 15px;
  padding: 7.5px;
  border-radius: 7.5px;
  border: none;
  box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.7);
}

.sign button:hover {
  background-color: rgb(255, 255, 255);
  color: #0b48a8;
  cursor: pointer;
  box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1080px) {
  .nav__bar {
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  .nav__bar {
    width: 57.5%;
  }
}
@media screen and (max-width: 663px) {
  .nav__bar {
    display: none;
  }
  .toog {
    display: block;
    margin: 10px 0px;
  }
  .sign {
    display: none;
  }
}
/* end nav-bar */
/*---------------------*/

.parent_sign_up {
  margin: 2% 5%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.image_sign_up,
.formulaire {
  width: 45%;
}
.formulaire {
  background-color: #fbf7ee;
  padding: 3%;
  padding-top: 0;
}
.image_sign_up img {
  width: 100%;
  height: 100%;
}
.child__form {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.formulaire h1 {
  margin-bottom: 20px;
}
.formulaire label {
  float: left;
  text-align: left;
  margin-left: 30px;
}

.formulaire input {
  padding: 2% 3%;
  margin: -20px 30px;
  border: 1px solid gray;
  border-radius: 17px;
  text-align: center;
}
.btn input {
  background-color: #0b48a8;
  color: white;
  margin: 30px;
  box-shadow: 0 5px 2px -1px rgb(0, 0, 0, 0.7);
}
.btn input:hover {
  background-color: white;
  color: #0b48a8;
}

@media screen and (max-width: 620px) {
  .nav__bar {
    display: none;
  }
  .toog {
    display: block;
    margin: 10px 0px;
  }
  .sign {
    display: none;
  }

  .image_sign_up {
    display: none;
  }
  .formulaire {
    border-radius: 17px;
    width: 100% !important;
  }
}

@media screen and (max-width: 1080px) {
  .nav__bar {
    width: 50%;
  }
}

/* start Footer*/
.footer-section {
  padding: 20px 0;
  background-color: #13366d;
  font-family: roboto;
}

.footer__logo h2 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: #fff;
  list-style: none;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__icons {
  margin: 20px 0;
  text-align: center;
}

.footer__icons img {
  width: 40px;
  height: 25px;
}

.footer__copyright {
  margin: 0;
  color: #fff;
  text-align: center;
}

.footer__copyright img {
  width: 20px;
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo h2 {
    margin-bottom: 20px;
    text-align: start;
  }

  .footer__list {
    flex-direction: row;
  }

  .footer__item {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.container {
  margin: auto;
  width: 90%;
}
/* end Footer*/
