body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: #fbf7ee;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
.toog {
  display: none;
}
.nav__bar {
  width: 35%;
}
.nav__bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav__bar ul li a {
  text-decoration: none;
  color: black;
}

.sign {
  display: flex;
  justify-content: space-between;
  gap: 7.5px;
  align-items: center;
}
.sign div a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 7.5px;
  font-size: 18px;
}
.sign div a:hover {
  background-color: #0b48a8;
  color: #fff;
  font-size: 18px;
  padding: 7.5px;
  border-radius: 7.5px;
  border: none;
  box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.7);
}
.sign button {
  background-color: #0b48a8;
  color: #fff;
  font-size: 15px;
  padding: 7.5px;
  border-radius: 7.5px;
  border: none;
  box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.7);
}

.sign button:hover {
  background-color: rgb(255, 255, 255);
  color: #0b48a8;
  cursor: pointer;
  box-shadow: 0 5px 2px -1px rgba(0, 0, 0, 0.7);
}

/* Start nav-bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
.toog {
  display: none;
}
.nav__bar {
  width: 35%;
}
.nav__bar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.nav__bar ul li a {
  text-decoration: none;
  color: black;
}

.sign {
  display: flex;
  justify-content: space-between;
  gap: 7.5px;
  align-items: center;
}
.sign div a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 7.5px;
  font-size: 18px;
}
.sign button {
  background-color: #0b48a8;
  color: #fff;
  font-size: 15px;
  padding: 7.5px;
  border-radius: 7.5px;
  border: none;
}

.sign div a:hover {
  background-color: #0b48a8;
  color: #fff;
  font-size: 18px;
  padding: 7.5px;
  border-radius: 7.5px;
  border: none;
}
.sign button:hover {
  background-color: rgb(255, 255, 255);
  color: #0b48a8;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .nav__bar {
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  .nav__bar {
    display: none;
  }
  .toog {
    display: block;
    margin: 10px 0px;
  }
  .sign {
    display: none;
  }
}
/* end nav-bar */

/* Start Hero Section */
.container {
  margin: auto;
  width: 90%;
}

.hero-section {
  margin: 40px auto;
  font-family: roboto, 'sans-serif';
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__image {
  border: 2px solid #eee;
  border-radius: 3px;
  padding: 1px;
  max-width: 550px;
  overflow: hidden;
}

.hero__image img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.hero__image:hover img {
  transform: scale(1.1);
}

.hero__text {
  max-width: 550px;
}

.hero__title {
  margin-top: 25px;
  color: #13366d;
  font-size: 30px;
  font-family: roboto, 'sans-serif';
  text-transform: uppercase;
}

.hero__description {
  margin-top: 8px;
  color: #666;
  font-size: 14px;
}

.hero__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.hero__input {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 7px 10px 10px 7px;
  outline: none;
}

::placeholder {
  color: rgba(170, 170, 170, 0.712);
}

.hero__btn {
  border: 2px solid rgb(224, 223, 223);
  border-radius: 3px;
  padding: 10px 0;
  color: #fff;
  background-color: #0c449e;
  font-weight: bold;
  cursor: pointer;
}

.hero__btn:hover {
  box-shadow: 0 4px 2px -1px rgba(0, 0, 0, 0.5);
}

.hero__list {
  list-style: none;
  margin-top: 25px;
  padding: 0;
}

.hero__list__item {
  display: flex;
  margin-bottom: 5px;
}

.hero__list__item img {
  margin-right: 5px;
}

.hero__list__item span {
  color: #666;
  font-size: 14px;
}

/* Start Media Queries */
@media screen and (min-width: 992px) {
  .hero-section {
    margin: 70px auto;
  }
  .hero__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .hero__image {
    order: 1;
  }

  .hero__text {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 40px;
    font-size: 50px;
    text-transform: uppercase;
  }

  .hero__form {
    flex-direction: row;
  }

  .hero__input {
    margin-bottom: 0;
    margin-right: 20px;
    padding: 10px;
    width: 250px;
  }

  .hero__btn {
    padding: 0 20px;
  }

  .hero__list {
    display: flex;
  }
  .hero__list__item {
    margin-right: 20px;
  }
}
/* End Hero Section */

/* start features section */

/* end features section */

/* start Pricing Section */

section {
  margin: 0 5%;
}
.para h2 {
  font-family: 'Karla', sans-serif;
  font-size: 35px;
  color: #13366d;
  font-weight: 500;
  width: 100%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.para {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  color: #a2a2a2;
  margin: 0;
  padding: 0;
}
.para p {
  margin-right: 20%;
  margin-top: 0%;
}

.pricing {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
ul li {
  text-decoration: none;
  list-style: none;
}
.startup {
  border-style: solid;
  border-color: #c2c2c2;
  background-color: #fff3d9;
  font-family: 'Karla', sans-serif;
  font-size: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 10%;
}
.pricing ul li {
  margin-bottom: 5%;
}
.star {
  border: none;
  border-radius: 10px;
  background-color: #13366d;
  box-shadow: 0 2px 1px 1px#13366D;
  font-weight: bold;
  color: #ffffff;
  height: 10%;
  font-style: bold;
  padding: 1% !important;
  align-self: flex-start;
  width: 50%;
  margin-left: 30px !important;
}

button {
  display: block;
}
.try {
  border: solid 1px #13366d;
  height: 10%;
  color: #13366d;
  border-radius: 4px;
  font-weight: bold;
  background-color: transparent;
  width: 60%;
}
.ads {
  border-style: solid;
  border-color: #c2c2c2;
  background-color: white;
  display: flex;
  justify-content: center;
}

#image {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.valeur {
  color: #8d8d8d;
  font-size: 30px;
  margin-top: 10%;
}
.changement {
  color: black;
  font-size: 30px;
}

#contact {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}

.startup * {
  margin: 7.5px 0;
  padding: 0;
}
@media screen and (min-width: 510px) {
  .pricing {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .startup {
    width: 40%;
  }
}
@media screen and (min-width: 720px) {
  .para h2 {
    font-size: 50px;
    margin-right: 50%;
    margin-bottom: 2%;
    font-weight: 900;
  }
  .para p {
    margin-right: 59%;
    margin-top: 0%;
  }
  .pricing {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
  }
  .try {
    border-color: #13366d;
    height: 30px;
    margin-bottom: 2%;
  }
  .try:hover {
    color: white;
    background-color: #0b48a8;
    box-shadow: 0 4px 2px -1px #000;
  }
  .startup {
    width: 20%;
    flex: 1;
  }
  .ads {
    align-self: center;
    padding-left: 1%;
    padding-right: 1%;
    color: #a2a2a2;
  }

  .valeur {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  #contact {
    margin-bottom: 5%;
    padding-bottom: 0%;
    padding-left: 5%;
    font-weight: 700;
  }
  #per {
    margin-top: 5%;
    padding-left: 5%;
    margin-bottom: 35%;
  }
}
/* start features section */

.test__parent {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #a2a2a2;
  border: 1px solid black;
  margin: 0 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
}

.item {
  background-color: white;
  border: 1px solid #b8b8b8;
  border-radius: 2px;
  margin: 3%;
  padding: 3%;
  width: 88%;
}
.col {
  color: black;
}
.para {
  font-size: 20px;
}

/*------Tablet------*/

@media screen and (min-width: 429px) {
  .test__parent {
    background-color: #fbf7ee;
    flex-direction: row;
    border: none;
  }
  .item {
    width: 40%;
    margin: 0;
    margin-bottom: 5%;
  }
}

/*------Desktop------*/

@media screen and (min-width: 1024px) {
  .item {
    width: 16%;
  }
}
/* end features section */

/* end Pricing Section */

/* Start Footer Section*/
.footer-section {
  padding: 20px 0 40px 0;
  background-color: #13366d;
  font-family: roboto, 'sans-serif';
}

.footer__logo h2 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: #fff;
  list-style: none;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__item a {
  margin-right: 7px;
  color: #fff;
  text-decoration: none;
}

.footer__item a:hover {
  color: #e7cf9c;
}

.footer__icons {
  margin: 20px 0;
  text-align: center;
}

.footer__icons img {
  margin: 0 5px;
  width: 20px;
  height: 25px;
}

.footer__copyright {
  margin: 0;
  color: #fff;
  text-align: center;
}

.footer__copyright img {
  width: 20px;
}

/* Start Media Queries */
@media screen and (min-width: 768px) {
  .footer-section {
    padding: 20px 0 30px 0;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
  }

  .footer__logo h2 {
    margin-bottom: 20px;
    text-align: start;
  }

  .footer__list {
    flex-direction: row;
  }

  .footer__item {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .footer__icons {
    text-align: right;
  }
}

/* End Footer Section */
