
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #fbf7ee;
}
    /* Start nav-bar */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
}
.toog{
    display: none;
}
.nav__bar{
    width: 35%;
}
.nav__bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

}
.nav__bar ul li a{
    text-decoration: none;
    color: black;
}

.sign{
    display: flex;
    justify-content: space-between;
    gap: 7.5px;
    align-items: center;
}
.sign div a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 7.5px;
    font-size: 18px;
}
.sign button{
    background-color: #0B48A8;
    color: #fff;
    font-size: 15px;
    padding: 7.5px;
    border-radius: 7.5px;
    border: none;
}

.sign div a:hover{
    background-color: #0B48A8;
    color: #fff;
    font-size: 18px;
    padding: 7.5px;
    border-radius: 7.5px;
    border: none;
}
.sign button:hover{
    background-color: rgb(255, 255, 255);
    color: #0B48A8;
    cursor: pointer;
}

@media screen and (max-width:1080px) {
    .nav__bar{
        width: 50%;
    }
}
@media screen and (max-width:620px) {
    .nav__bar{
        display: none;
    }
    .toog{
        display: block;
        margin: 10px 0px;
    }
    .sign{
        display: none;
    }
}
    /* end nav-bar */

    /* start Hero section */
    
    /* end Hero section */

    /* start features section */
    
    /* end features section */

    /* start Pricing Section */

    /* end Pricing Section */
    
    /* start Footer*/
    
    /* end Footer*/