<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>grid</title>
    <link rel="stylesheet" href="css/grid.css" />
  </head>
  <body>
    <h1>display: Grid</h1>
    <section class="site">
      <header class="header">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
      </header>
      <article class="body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
          consectetur exercitationem consequatur doloribus ducimus corporis
          iusto dolorem sed deleniti possimus!
        </p>
      </article>
      <aside class="sidebar">
        <div>
          <ul>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Accusamus possimus delectus minima laboriosam laborum ipsam
              maiores impedit minus praesentium autem?
            </li>
          </ul>
          <ul>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Accusamus possimus delectus minima laboriosam laborum ipsam
              maiores impedit minus praesentium autem?
            </li>
          </ul>
          <ul>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Accusamus possimus delectus minima laboriosam laborum ipsam
              maiores impedit minus praesentium autem?
            </li>
          </ul>
          <ul>
            <li>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Accusamus possimus delectus minima laboriosam laborum ipsam
              maiores impedit minus praesentium autem?
            </li>
          </ul>
        </div>
      </aside>
      <footer class="footer">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
          possimus perferendis velit molestiae minus nemo alias officia, itaque
          voluptatibus eos in corporis, reprehenderit laborum voluptatum iusto.
          Qui et alias illo!
        </p>
        <p>
          Optio accusamus aut voluptates sapiente laboriosam autem quisquam a
          nostrum enim. Iusto, corrupti libero laborum illo iste dolor neque
          cumque sequi mollitia reprehenderit excepturi quidem placeat officiis
          dicta natus suscipit!
        </p>
        <p>
          Soluta quo optio incidunt placeat, aliquam fugiat illo praesentium
          perspiciatis saepe quibusdam ut molestiae dolorum ratione tenetur ipsa
          corporis est quidem magnam corrupti cumque possimus nihil? Reiciendis
          accusamus exercitationem ullam.
        </p>
      </footer>
    </section>
  </body>
</html>
