<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../css/sign_in.css">

</head>

<body>
   
    <section class="parent_sign_in">
        <div class="image_sign_in">
            <img src="../asseets/images/BG Hero.png" alt="photo" width="650PX" height="400PX">
        </div>
        <div class="formulaire">
            <form>
                <h1 class="child__form">Sign in</h1>
                <div class="child__form">
                    <label for="name"><strong>Email</strong> </label><br>
                    <input type="text" id="name" name="name" placeholder="Email or user name" class="input"><br>
                </div>
                <div class="child__form">
                    <label for="name"><strong>Password </strong></label><br>
                    <input type="text" id="name" name="name" placeholder="Email password" class="input"><br>
                </div>

                <div class="child__form btn" >
                    <input type="submit" value="Sing in" id="btn" class="input">
                    <h5>Don't have an account ? <a href="sign_up.html">Sign up</a></h5>
                    
                </div>
                

            </form>
        </div>

    </section>
</body>

</html>