<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="../css/sign_up.css">

</head>

<body>
   
    <section class="parent_sign_up">
        <div class="image_sign_up">
            <img src="../asseets/images/BG Hero.png" alt="photo" width="650PX" height="400PX">
        </div>
        <div class="formulaire">
            <form>
                <h1 class="child__form">Sign up</h1>
                <div class="child__form">
                    <label for="f_name"><strong>First name</strong></label><br>
                    <input type="text" id="f_name" name="f_name" placeholder="First name" class="input"><br>
                </div>
                <div class="child__form">
                    <label for="l_name"><strong>Last name</strong></label><br>
                    <input type="text" id="l_name" name="l_name" placeholder="Last name" class="input"><br>
                </div>
                
                <div class="child__form">
                    <label for="name"><strong>Email</strong> </label><br>
                    <input type="text" id="name" name="name" placeholder="Email or user name" class="input"><br>
                </div>
                <div class="child__form">
                    <label for="pass_w1"><strong>Password </strong></label><br>
                    <input type="text" id="pass_w1" name="pass" placeholder="Email password" class="input"><br>
                </div>
                <div class="child__form">
                    <label for="pass_w2"><strong>Confirm password </strong></label><br>
                    <input type="text" id="pass_w2" name="pass" placeholder="Confirm password" class="input"><br>
                </div>


                <div class="child__form btn" >
                    <input type="submit" value="Sing up" id="btn" class="input">  
                </div>
                

            </form>
        </div>

    </section>
</body>

</html>